.container {
  padding: 16px;
  margin: 16px;
  max-width: 360px;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  box-sizing: border-box;
}

.container:hover {
  background: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--card-border-rgb), 0.25);
  cursor: pointer;
}

.container h3 {
    margin-bottom: 0.5rem;
}

.container p {
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container.skeleton {
    background: rgba(var(--card-rgb), 0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
}
